@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.App-Header {
  cursor: pointer;
}

.App-Title {
  margin: 0;
}

.App-Title:hover {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(94, 165, 106, 0);
}

.App-body {
  height: 100%;
  width: 100%;
}

/* Nav Link */

li, a, button {
font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
} 

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.App-Header {
  background-color: #24252a;
}

.Nav-Links {
  list-style: none;
}

.Nav-Links li {
  display: inline-block;
  padding: 0px 20px;
}

.Nav-Links li a {
  transition: all 0.5s ease 0s;
}

.Nav-Links li a:hover {
  color: rgba(105, 199, 121, 1);
}

button {
  color: black;
  padding: 16px 16px;
  margin-left: 16px;
  transition: all 0.5s ease 0s;
  font-weight: 700;
  font-size: 18px;
}

button:hover {
  background-color: rgba(94, 165, 106, 1);
}

.SignUpButton {
  font-weight: 700;
  font-size: 18px;
  padding: 16px 16px;
  margin-left: 16px;
  transition: all 0.5s ease 0s;
  color: white;
  background-color: rgba(94, 165, 106, 0);
}

.SignUpButton:hover {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(94, 165, 106, 0);
}

.Row { 
  width: 100%;
  display: flex; 
  flex-flow: row wrap;
  justify-content: right;
  align-items: center;
  margin: 0 auto;
}
