@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


* { 
    font-family: 'Montserrat', sans-serif;
}


body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  width: 100%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Scrollbars */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  width: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(100, 100, 100);
  border-radius: 5px;
  padding-top: 1%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(43, 43, 43);
}