.container { 
    width: 100%; 
    height: 100%; 
    color: #fff;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-flow: column nowrap;
    padding: 30px 0px;
}

.name { 
    font-size: 4rem; 
    font-weight: 700; 
    margin-bottom: 16px; 
    text-align: center; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    color: #fff;
}

h1 { 
    font-size: 3rem; 
    font-weight: 700; 
    margin-bottom: 10px; 
    text-align: center; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    color: #fff;
}

h2 { 
    font-size: 1.25rem; 
    font-weight: 700; 
    margin-bottom: 10px; 
    text-align: left; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    color: #fff;
}

h3 {
    font-size: 0.75rem;
    margin-bottom: 10px; 
    text-transform: uppercase; 
}

div {
  color: #fff;
}

img { 
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    background: pink;
}

.row1 { 
    width: 100%;
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.row2 { 
    width: 100%;
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
}

.TopList {
    padding-right: 30px;
    padding-bottom: 30px;
}

.Bio {
    padding-left: 16px;
    padding-right: 16px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.Bio h2 {
    margin: 0;
}

.Bio-Divider {
    border: 1px solid white;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}

.Bio-Divider-B {
    margin: 20px;
    padding: 10px;
}

.Bio-Edit-Button {
    font-size: medium;
    height: 20px;
    padding: 4px;
    margin: 0;
}


/* Modal Design */
.Modal-Header {
    color: black;
}

form .Modal-TextBox-Image {
    position: relative;
    margin: 30px 0;
    color: rgb(0, 0, 0);
}

.Modal-TextBox-Image input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color:black
}

form .Modal-TextBox {
    position: relative;
    margin: 30px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.685);
    color: rgb(0, 0, 0);
}

.Modal-TextBox input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color:black
}

.Modal-TextBox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
    font-weight: 300;
}

.Modal-TextBox input:focus ~ label,
.Modal-TextBox input:valid ~ label {
    top: -5px;
}

.SpotifyUsername {
    text-align: center;
    padding-bottom: 20px;
    color: rgba(94, 165, 106, 1);
    text-decoration: none;
}

.SpotifyUsername:hover {
    text-decoration: underline;
}

.ArtistPic {
    width: 100px;
    height: 100px;
}

.DivToScroll{   
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #3B3C3E;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 10px 7px 5px;
}

.DivWithScroll{
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
}
